<!doctype html>
<html ng-app>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="css/shadowrun.css" />
	<script type="text/javascript" src="../js/angular.1.2.7.min.js"></script>
	<script type="text/javascript" src="js/shadowrun5th.js"></script>
</head>
<body ng-controller="Shadowrun5thSheetController">
	<div id="meta">
		<select ng-change="change()" ng-model="settings.language" ng-options="lang_key as lang_val._label for (lang_key, lang_val) in repository.languages"></select>
	</div>
	<div id="generic">
		<div class="character">{{i18n.t('Character')}} <input type="text" ng-model="character.name" /></div>
		<div class="player">{{i18n.t('Player')}} <input type="text" ng-model="character.player" /></div>
		<div class="notes">{{i18n.t('Notes')}} <input type="text" ng-model="character.notes" /></div>
	</div>
	<div id="personal">
		<h1>{{i18n.t('Personal Data')}}</h1>
		<div class="name">{{i18n.t('Name')}} <input type="text" ng-model="character.name" /></div>
		<div class="primary-alias">{{i18n.t('Primary Alias')}} <input type="text" ng-model="character.primary_alias" /></div>
		<div class="metatype">{{i18n.t('Metatype')}} <select ng-model="character.metatype" ng-options="mtype_key as i18n.t(mtype_val.label) for (mtype_key, mtype_val) in repository.metatypes"></select></div>
		<div class="ethnicity">{{i18n.t('Ethnicity')}} <input type="text" ng-model="character.ethnicity" /></div>
		<div class="age">{{i18n.t('Age')}} <input type="number" ng-model="character.age" min="0" /> <select ng-model="character.age_unit" ng-options="age_unit_key as i18n.t('_unit_timespan_'+age_unit_key) for (age_unit_key, age_unit_val) in repository.units.timespan"></select></div>
		<div class="gender">{{i18n.t('Gender')}} <select ng-model="character.gender" ng-options="gender_key as i18n.t(gender_val) for (gender_key, gender_val) in repository.genders"></select></div>
		<div class="height">{{i18n.t('Height')}} <input type="number" ng-model="character.height" min="0" /> <select ng-model="character.height_unit" ng-options="height_unit_key as i18n.t('_unit_length_'+height_unit_key) for (height_unit_key, height_unit_val) in repository.units.length"></select></div>
		<div class="weight">{{i18n.t('Weight')}} <input type="number" ng-model="character.weight" min="0" /> <select ng-model="character.weight_unit" ng-options="weight_unit_key as i18n.t('_unit_weight_'+weight_unit_key) for (weight_unit_key, weight_unit_val) in repository.units.weight"></select></div>
		<div class="streed-cred">{{i18n.t('Streed Cred')}}</div>
		<div class="notoriety">{{i18n.t('Notoriety')}}</div>
		<div class="public-awareness">{{i18n.t('Public Awareness')}}</div>
		<div class="karma">{{i18n.t('Karma')}}</div>
		<div class="total-karma">{{i18n.t('Total Karma')}}</div>
		<div class="misc">{{i18n.t('Misc')}}</div>
	</div>
	<div id="combat-core">
		Primary Armor
			Rating

		Primary Ranged Weapon
			Damage
			Accuracy
			AP
			Mode
			RC
			Ammo

		Primary Melee Weapon
			Reach
			Damage
			Accuracy
			AP
	</div>
	<div id="attributes">
		Body
		Agility
		Reaction
		Strength

		Willpower
		Logic
		Intuition
		Charisma

		Edge
		Edge Points

		Essence
		Magic / Resonance

		Initiative
			Matrix Initiative
			Astral Initiative

		Composure
		Judge Intentions
		Memory

		Lift / Carry
		Movement

		Physical Limit
		Mental Limit
		Social Limit
	</div>
	<div id="skills">
		Skillname
			Rating
			Type
	</div>
</body>
</html>