<!doctype html>
<html ng-app="Shadowrun5thSheet">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="css/shadowrun.css" />
	<script type="text/javascript" src="../js/angular.1.2.7.min.js"></script>
	<script type="text/javascript" src="js/shadowrun5th.js"></script>
</head>
<body ng-controller="Shadowrun5thSheetController">
	<div id="meta">
		<select ng-change="change()" ng-model="settings.language" ng-options="lang_key as lang_val._label for (lang_key, lang_val) in repository.languages"></select>
	</div>
	<div id="generic">
		<div class="character">{{i18n.t('Character')}} <input type="text" ng-model="character.name" /></div>
		<div class="player">{{i18n.t('Player')}} <input type="text" ng-model="character.player" /></div>
		<div class="notes">{{i18n.t('Notes')}} <input type="text" ng-model="character.notes" /></div>
	</div>
	<div id="personal">
		<h1>{{i18n.t('Personal Data')}}</h1>
		<div class="name">{{i18n.t('Name')}} <input type="text" ng-model="character.name" /></div>
		<div class="primary-alias">{{i18n.t('Primary Alias')}} <input type="text" ng-model="character.primary_alias" /></div>
		<div class="metatype">{{i18n.t('Metatype')}} <select ng-model="character.metatype" ng-options="mtype_key as i18n.t(mtype_val.label) for (mtype_key, mtype_val) in repository.metatypes"></select></div>
		<div class="ethnicity">{{i18n.t('Ethnicity')}} <input type="text" ng-model="character.ethnicity" /></div>
		<div class="age">{{i18n.t('Age')}} <input type="number" ng-model="character.age" min="0" /> <select ng-model="character.age_unit" ng-options="age_unit.id as i18n.t('_unit_timespan_'+age_unit.id) for age_unit in repository.units.timespan"></select></div>
		<div class="gender">{{i18n.t('Gender')}} <select ng-model="character.gender" ng-options="gender_key as i18n.t(gender_val) for (gender_key, gender_val) in repository.genders"></select></div>
		<div class="height">{{i18n.t('Height')}} <input type="number" ng-model="character.height" min="0" /> <select ng-model="character.height_unit" ng-options="height_unit.id as i18n.t('_unit_length_'+height_unit.id) for height_unit in repository.units.length"></select></div>
		<div class="weight">{{i18n.t('Weight')}} <input type="number" ng-model="character.weight" min="0" /> <select ng-model="character.weight_unit" ng-options="weight_unit.id as i18n.t('_unit_weight_'+weight_unit.id) for weight_unit in repository.units.weight"></select></div>
		<div class="streed-cred">{{i18n.t('Streed Cred')}} <input type="number" ng-model="character.street_cred" min="0" /></div>
		<div class="notoriety">{{i18n.t('Notoriety')}} <input type="number" ng-model="character.notoriety" min="0" /></div>
		<div class="public-awareness">{{i18n.t('Public Awareness')}} <input type="number" ng-model="character.public_awareness" min="0" /></div>
		<div class="karma">{{i18n.t('Karma')}} <input type="number" ng-model="character.karma" min="0" max="{{character.total_karma}}" /> / <input type="number" ng-model="character.total_karma" min="0" /></div>
		<div class="misc">{{i18n.t('Misc')}} <textarea ng-model="character.misc"></textarea></div>
		<pre>{{character}}</pre>
	</div>
	<div id="attributes">
		<div class="body">{{i18n.t('Attribute.Body')}} <input type="number" ng-model="character.body" /></div>
		<div class="agility">{{i18n.t('Attribute.Agility')}} <input type="number" ng-model="character.agility" /></div>
		<div class="reaction">{{i18n.t('Attribute.Reaction')}} <input type="number" ng-model="character.reaction" /></div>
		<div class="strength">{{i18n.t('Attribute.Strength')}} <input type="number" ng-model="character.strength" /></div>

		<div class="willpower">{{i18n.t('Attribute.Willpower')}} <input type="number" ng-model="character.willpower" /></div>
		<div class="logic">{{i18n.t('Attribute.Logic')}} <input type="number" ng-model="character.logic" /></div>
		<div class="intuition">{{i18n.t('Attribute.Intuition')}} <input type="number" ng-model="character.intuition" /></div>
		<div class="charisma">{{i18n.t('Attribute.Charisma')}} <input type="number" ng-model="character.charisma" /></div>

		<div class="edge">{{i18n.t('Attribute.Edge')}} <input type="number" ng-model="character.edge" /></div>
		<div class="edge-points">{{i18n.t('Attribute.Edge Points')}} <input type="number" ng-model="character.edge_points" /></div>

		<div class="essence">{{i18n.t('Attribute.Essence')}} <input type="number" ng-model="character.essence" /></div>
		<div class="magic">{{i18n.t('Attribute.Magic')}} <input type="number" ng-model="character.magic" /></div>
		<div class="resonance">{{i18n.t('Attribute.Resonance')}} <input type="number" ng-model="character.resonance" /></div>

		<div class="initiative">{{i18n.t('Attribute.Initiative')}} <input type="number" ng-model="character.initiative" /></div>
		<div class="matrix-initiative">{{i18n.t('Attribute.Matrix Initiative')}} <input type="number" ng-model="character.matrix_initiative" /></div>
		<div class="astral-initiative">{{i18n.t('Attribute.Astral Initiative')}} <input type="number" ng-model="character.astral_initiative" /></div>

		<div class="composure">{{i18n.t('Attribute.Composure')}} <input type="number" ng-model="character.composure" /></div>
		<div class="judge-intentions">{{i18n.t('Attribute.Judge Intentions')}} <input type="number" ng-model="character.judge_intentions" /></div>
		<div class="memory">{{i18n.t('Attribute.Memory')}} <input type="number" ng-model="character.memory" /></div>

		<div class="lift">{{i18n.t('Attribute.Lift')}} <input type="number" ng-model="character.lift" /></div>
		<div class="carry">{{i18n.t('Attribute.Carry')}} <input type="number" ng-model="character.carry" /></div>
		<div class="movement">{{i18n.t('Attribute.Movement')}} <input type="number" ng-model="character.movement" /></div>

		<div class="physical-limit">{{i18n.t('Attribute.Physical Limit')}} <input type="number" ng-model="character.physical_limit" /></div>
		<div class="mental-limit">{{i18n.t('Attribute.Mental Limit')}} <input type="number" ng-model="character.mental_limit" /></div>
		<div class="social-limit">{{i18n.t('Attribute.Social Limit')}} <input type="number" ng-model="character.social_limit" /></div>
	</div>
	<div id="skills">
		Skillname
			Rating
			Type
	</div>
</body>
</html>